*{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.NavMain{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 900;
}
.NavMainActivo{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 900;
    background: rgba(45, 44, 44, 0.436); /* Fondo semitransparente */
    backdrop-filter: blur(3px); /* Aplicar desenfoque */
}
.LogoMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.InfoMenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-right: 20px;
    
}

.InfoMenu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 20%;
    height: 90%;
    font-size: 1.2em;
    border-bottom: 3px solid transparent;
    color: white;
}
.InfoMenu > li:hover {
    border-bottom-color: blue;
}
.body{
    display: flex;
    height: 100vh;
}
.logoParroquia{
    width: 18%;
    padding: 5px;

}
.ButtonA{
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}

.ButtonA:hover{
    letter-spacing: 0.25em;
    background-color: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}
.ButtonA::before{
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}
.ButtonA span{
    position: relative;
    z-index: 1;

}
.ButtonA .CuadroI{
    position: absolute;
    inset: 0;
    display: flex;
}  
.ButtonA .CuadroI::before{
    content: '';
    position: absolute;
    top: -6px;
    left: 100%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #27282c;
    border: 2px solid  var(--clr);
    transition: 0.5s;
}
.ButtonA:hover .CuadroI::before{
    left: 0%;
    transform: translateX(-50%) rotate(45deg) ;
    box-shadow: 28px 25px var(--clr) ;
}
.ButtonA .CuadroI::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background: #27282c;
    border: 2px solid  var(--clr);
    transition: 0.5s;
}
.ButtonA:hover .CuadroI::after{
    left: 100%;
    transform: translateX(-50%) rotate(-45deg) ;
    box-shadow: 26px -25px var(--clr) ;
}


