*{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.NavMain{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 900;
}
.NavMainActivo{
    display: flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 900;
    background: rgba(45, 44, 44, 0.436); /* Fondo semitransparente */
    backdrop-filter: blur(3px); /* Aplicar desenfoque */
}
.LogoMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.InfoMenu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;
    margin-right: 20px;
    
}

.InfoMenu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    width: 20%;
    height: 90%;
    font-size: 1.2em;
    border-bottom: 3px solid transparent;
    color: white;
}
.InfoMenu > li:hover {
    border-bottom-color: blue;
}
.body{
    display: flex;
    height: 100vh;
}
.logoParroquia{
    width: 18%;
    padding: 5px;

}
