*{
    margin: 0;
    padding: 0;
}
.BoxMain{
    width: 100%;
    min-height: 100vh;
    
   /*  background: -moz-linear-gradient(23deg, rgba(20,19,19,1) 0%, rgba(109,113,107,1) 100%);
    background: -webkit-linear-gradient(23deg, rgba(20,19,19,1) 0%, rgba(109,113,107,1) 100%);
    background: linear-gradient(23deg, rgba(20,19,19,1) 0%, rgba(109,113,107,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141313",endColorstr="#6d716b",GradientType=1);
     */
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    z-index: 100;

}
.Info{
   
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}
.Title{
    font-size: 4em;
    color: white;
    text-align: center;
    padding-left: 20px ;
}
h3{
    color: white;
    margin: 50px;
    font-size: 1.5em;
    text-align: center;
    font-family:serif;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
   /*  font-size: 30px; */
    font-weight: 100;
    font-style: normal;
  }
.Logos{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background: linear-gradient(23deg, rgb(92, 103, 229) 0%, rgb(32, 8, 110) 100%);
    border-radius: 30% 70% 69% 31%/ 30% 50% 50% 70% ;  */
    z-index: 1;
    /* -webkit-box-shadow: -51px 25px 54px 18px rgba(46,45,46,1);
    -moz-box-shadow: -51px 25px 54px 18px rgba(46,45,46,1);
    box-shadow: -51px 25px 54px 18px rgba(46,45,46,1); */
   
}
.Imagen {
    transform: scale(1.3);
    image-rendering: crisp-edges;
    filter: drop-shadow(2px 8px 5px #777779);
    mask-image: linear-gradient(#181819 80%, transparent );
    z-index: 3;
    position: relative;
  }
  
.Cruz{
    transform: scale(0.08);
    filter: drop-shadow(-21px 10px 25px #05056ba5);
    mask-image: linear-gradient(#181819 80% , transparent);
    position: absolute;
    top:-80%;
    right: -22%;
}
  